*{
    box-sizing: border-box;
}

body
{
    justify-content: center;
    align-items: center;
}

.jogos
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.thumb
{
    width: 100%;
    border-radius: 8px;
    border: solid 2px white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
}